[submodule "ArduinoWeatherStation/lib/RadioLib"]
	path = ArduinoWeatherStation/lib/RadioLib
	url = https://github.com/BarryPSmith/RadioLib.git
[submodule "ArduinoWeatherStation/lib/Low-Power"]
	path = ArduinoWeatherStation/lib/Low-Power
	url = https://github.com/BarryPSmith/Low-Power.git
[submodule "ArduinoWeatherStation/lib/TimerOne"]
	path = ArduinoWeatherStation/lib/TimerOne
	url = https://github.com/BarryPSmith/TimerOne.git
[submodule "ArduinoWeatherStation/lib/SPIFlash"]
	path = ArduinoWeatherStation/lib/SPIFlash
	url = https://github.com/LowPowerLab/SPIFlash.git
